[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/maiconcrespo/solana-starter.git
[submodule "tokenized-vaults-program"]
	path = tokenized-vaults-program
	url = https://github.com/maiconcrespo/tokenized-vaults-program
[submodule "tokenized-vaults-web"]
	path = tokenized-vaults-web
	url = https://github.com/maiconcrespo/tokenized-vaults-web
[submodule "tokenized-vaults"]
	path = tokenized-vaults
	url = https://github.com/maiconcrespo/tokenized-vaults
